@{
    ViewBag.Title = "Pagina de Inicio";
}



<div class="jumbotron">
   
        <h2>Funcionalidades del sistema web</h2>
        <p>
            Para cada entidad, debe implementar las siguientes funcionalidades:
            ● Listar todos los registros en una tabla
            ● Crear un nuevo registro
            ● Actualizar un registro existente
            ● Eliminar un registro
        </p>
</div>